<style>
    .title {
        color: red;
    }
</style>
<script type="importmap">
    {
        "imports": {
            "vue":"https://unpkg.com/vue@3/dist/vue.esm-browser.js"
        }
    }
</script>
<script type="module">
    import { createApp, reactive, ref, computed } from "vue"
    import { comp1 } from './component.js'
    const counter = reactive({ count: 0 })
    const message = ref("Hello World")
    const inputtext = ref('')
    const inputLen = computed(() => {
        return inputtext.value.length
    })
    const handlePlusNum = () => { }

    const objAttr = {
        id: "container",
        class: "wrapper",
        style: "color:green",
    }

    createApp({
        components: {
            comp1
        },
        setup() {

            const titleClass = ref('title')
            return {
                counter, message,
                titleClass,
                inputtext,
                inputLen,
                objAttr,
                handlePlusNum
            }
        }
    }).mount("#app")
</script>
<div id="app">
    <h1>message: {{message}}</h1>
    <p>Count is: {{counter.count}}</p>
    <p :class="titleClass">Make me red.</p>
    <!--↑同じ↓-->
    <p v-bind:class="titleClass">Make me red.</p>
    <input v-model="inputtext" placeholder="type here">
    <input v-model="inputtext" placeholder="type here2">
    <p>text is {{inputtext}}. length = {{inputLen}}.({{inputtext.length}})</p>
    <p v-bind="objAttr">objAttr</p>
    <comp1 @plus="handlePlusNum" :num="5"></comp1>
</div>